ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
config/
configure
doc/Makefile
doc/Makefile.in
icons/Makefile
icons/Makefile.in
m4/
po/Makefile
po/Makefile.in
po/stamp-po
src/.deps/
src/Makefile
src/Makefile.in
src/fuser.o
src/killall.o
src/peekfd.o
src/prtstat.o
src/pstree.o
src/signals.o
stamp-h1
